/* RESET START */
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  margin: 0;
  color: #111;
  font: 400  12px/1 'Poppins', sans-serif;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #111;
}
a, a:hover{
  text-decoration: none;
}
img{
  max-width: 100%;
}
input, textarea, button{
  outline: none;
  border: none;
}
textarea{
  resize: vertical;
}
button{
  cursor: pointer;
}
label{
  margin-bottom: 0;
}
select, select:hover{
  color: inherit;
  background: #fff;
}
option, option:hover{
  color: inherit;
  background: #fff;
}
/* RESET END */

/* DEFAULT CLASSES START */

/* DEFAULT CLASSES END */

/* DEFAULT COMPONENT START */
.input-group{
  position: relative;
  margin-bottom: 20px;
}
.form-control{
  border: 1px solid #49b871;
  font-size: 17px;
  color: rgba(255, 255, 255, .8);
  height: 35px;
  background-color: transparent;
  border-radius: 30px;
  width: 100%;
  padding: 0 20px 0 40px;
}
.form-control::placeholder{
  color: #babbbc;
  font-size: 15px;
}
.input-group label{
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.btn{
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 30px;
  padding: 15px 50px;
  transition: all .2s linear;
  text-align: center;
}
.btn.full-width{
  width: 100%;
}
.btn.btn-default{
  background-color: #36cb6c;
  color: #fff;
}
.btn.btn-default:hover{
  box-shadow: 0 3px 10px #36cb6c;
}
.save-user{
  display: flex;
  align-items: center;
  padding-left: 18px;
  font-size: 11px;
  color: #fff;
}
.save-user span{
  margin-left: 10px;
}
.btn.btn-ic{
  font-size: 13px;
  font-weight: 400;
  padding: 15px 20px;
}
.btn.btn-fb{
  background-color: #0076c8;
  color: #fff;
}
.btn.btn-fb:hover{
  box-shadow: 0 3px 10px #0076c8;
}
.btn.btn-ic .fa{
  font-size: 15px;
  margin-right: 13px;
}
.btn.btn-google{
  background-color: #dc4a38;
  color: #fff;
}
.btn.btn-google:hover{
  box-shadow: 0 3px 10px #dc4a38;
}
/* DEFAULT COMPONENT END */

/* CUSTOM STYLE START*/

.form-wrapper{
  background: url('../img/login-bg-960x960.jpg') no-repeat center / cover;
  height: 100vh;
  box-shadow: 100vw 0 0 rgba(0, 0, 0, .75) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 50px 0;
}
.form-wrapper.bg{
  background: url('../img/login-bg-old.jpg') no-repeat center / cover;
}

.user-auth-form{
  max-width: 240px;
  width: 100%;
}
.logo{
  margin-bottom: 45px;
}
.user-auth-form form .btn{
  margin-top: 50px;
}

.for-login{
  margin-top: 30px;
  font-size: 11px;
  color: #fff;
}
.for-login .link-login{
  font-size: 12px;
  color: #36cb6c;
}
.user-auth-form form .btn,
.other-auth-methods{
  margin-top: 50px;
}
.other-auth-methods .btn{
  margin-bottom: 10px;
}
/* CUSTOM STYLE END*/

/*MEDIA START*/

@media (min-width: 480px) {
  .user-auth-form{
    max-width: 320px;
  }
}
@media (min-width: 600px) {
  .user-auth-form{
    max-width: 480px;
  }
}
@media (min-width: 992px) {
  .user-auth-form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100vw;
  }
  .other-auth-methods{
    width: 50%;
    margin: 0 0 0 50px;
  }
  .user-auth-form form{
    width: 50%;
  }
}
@media (min-width: 1200px) {
    .form-wrapper{
      background: url('../img/login-bg.jpg') no-repeat center;
    }
}
